IndexIgnore *
Options All +FollowSymLinks -Indexes
ServerSignature Off

php_value error_reporting  E_ALL & ~E_NOTICE & ~E_WARNING
php_flag display_errors    Off

DirectoryIndex index.php index.html
AddType text/x-component .htc

<Files ~ "(_globalmodule.php|_app.php|_conf.php)">
  Require all denied
</Files>

<Files *.inc>
  Require all denied
</Files>

RewriteEngine On
RewriteBase /fr/

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule ^(.*)$ https://regionalpost.org/fr/$1 [R=301,L]

RewriteRule ^index\.html$ index.php [QSA,NC,NE,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?_rwr=$1 [QSA,NC,NE,L]
